/***** Geral *****/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /*falta o tipo de letra*/
}

*:focus {
    outline: none; /* tira  */
}

body {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0;
}

/************************************************ Header ************************************************/
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    background-color: #95ab63;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between; /* add this */
    height: 100%;
    width: 100%;
}

/****** Nav-Logo ******/
header nav img {
    background-color: white;
    border-radius: 50%;
    margin-left: 30px;
    height: 70px;
    width: 70px;
    padding: 2px;
}

/****** Nav-Seacr bar ******/
header nav .search-form {
    display: flex;
    margin: 0;
}

header nav input[type="text"] {
    margin-top: 10px;
    /*margin-left: 10px;*/
    height: 30px;
    width: 500px;
    border-radius: 5px 0 0 5px;
    border: none;
    /*padding-left: 10px;*/
    box-sizing: border-box;
}

header nav input[type="text"]:focus {
    outline: none;
}

header nav input[type="submit"] {
    margin-top: 10px;
    /*margin-left: 10px;*/
    height: 30px;
    width: 50px;
    border-radius: 0 5px 5px 0;
    border: none;
    padding: 0;
    /*padding-left: 10px;*/
    box-sizing: border-box;
}

header nav input[type="submit"]:hover {
    background-color: #c1d19b;
}

header nav input[type="submit"]:active {
    background-color: #95ab63;
}

header nav input[type="submit"]:focus {
    outline: none;
}

/****** Nav-Menu Botton ******/
.button_nav_list {
    float: left;
    display: inline-block;
    margin: 0 5px;
}

header nav button {
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #b2be97;
    cursor: pointer;
    padding: 0 20px;
}

header nav button:hover {
    background-color: #e2f0d6;
}

header nav button:active {
    background-color: #95ab63;
    color: #e2f0d6;
}

header nav button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #95ab63;
}

/************************************************ Main ************************************************/
section {
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
}
/********************* Profile ********************************************/
.nav-perfil {
    flex: 0 0 20%; /* ocupa 20% da largura do contêiner */
    background-color: #ccc; /* exemplo de cor de fundo */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2f0d6; /* set the background color for the aside */
    height: 100%;
}

/****** Profile-Numero de Questoes Criadas ******/
.nav_perfil h4 {
    margin-bottom: 20px;
}

/****** Profile-Foto ******/
.profile_picture {
    width: 200px;
    height: 200px;
    margin-bottom: 20px; /* add some margin to separate the picture and the buttons */
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
}

.profile_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/****** Profile-Botton ******/
.button_list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button_list li {
    margin-bottom: 10px; /* add some margin between the buttons */
    margin-top: 10px;
}

.button {
    display: block;
    padding: 10px;
    background-color: #95ab63;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
}

li a:hover {
    background-color: #c1d19b;
}
/********************* Main-right *****************************************/
.main {
    flex: 1; /* ocupa o restante da largura do contêiner */
    background-color: white; /* exemplo de cor de fundo */
    align-items: center
}

/********************* Main-full ******************************************/
.main full-width {
    flex-basis: 100%; /* ocupa 100% da largura do contêiner */
    background-color: white;
    align-items: center
}


/************************************************ Footer *********************************************/
footer {
    background-color: #95ab63;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.social-icons a {
    display: inline-block;
    margin: 0 5px; /* reduz a margem horizontal */
}

.social-icons a i {
    color: white;
}

/************************************************ Pages *****************************************/
/********************* About ******************************************/
.about_container {
    width: 100%;
    height: 100%; /* altura total da página */
    display: flex;
    flex-direction: column;
}

.about_clarify_logo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.about_clarify_logo img {
    width: 200px;
}

.about_text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.about_text_container p {
    font-size: 1.2em; /* Set the desired font size */
    /*margin-top: 20px;*/
    width: 80%;
    text-align: justify;
}

/********************* Criar Questao **********************************/
.criarquestao_content {
    text-align: center;
    width: 50%;
    margin: 40px 25% 0 25%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.criarquestao_form .titulo {
    margin-top: 40px;
}

/*comentário*/

.criarquestao_form {
    display: flex;
    flex-direction: column;
}

.criarquestao_form label {
    font-weight: bold;
    margin-top: 20px;
}

.criarquestao_form textarea,
.criarquestao_form input {
    max-width: 100%;
    padding: 10px;
    /*margin-bottom: 20px;*/
    border-radius: 5px;
    border: 1px solid black;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);*/
}

.criarquestao_form textarea {
    max-height: 200px;
}

#titulo {
    margin-bottom: 20px;
}

.criarquestao_form button[type="submit"] {
    background-color: #95ab63;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.criarquestao_form button[type="submit"]:hover {
    background-color: #e2f0d6;
}

/********************* Index ******************************************/
.index_content {
    font-size: large;
    width: 100%; /* adjust as needed */
    overflow: hidden; /* clearfix to contain floated elements */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    height: 100%;
    width: 80%;
}

.right {
    width: 30%;
    height: 100%;
}

.right img {
    display: block;
    max-width: 100%;
    height: auto;
}

.texto_introducao h2 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.texto_introducao p {
    width: 90%;
}

.texto_introducao {
    font-size: 20px;
    margin-top: 5%;
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: justify;
}


.lista_questoes_index {
    margin-top: 15%;
    height: 100%;
    overflow: auto;
    clear: both;
    overflow-y: scroll;
}

.lista_questoes_index ul {
    list-style: none;
    padding: 0;
}

.lista_questoes_index li {
    margin-bottom: 5px;
}


.lista_questoes_index button {
    height: 60px;
    font-size: large;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #95ab63;
}


.lista_questoes_index button:hover {
    background-color: #c1d19b;
}


/********************* Lista Questoes *********************************/

.lista_questoes_container {
    width: 100%;
    height: 100%; /* altura total da página */
    display: flex;
    flex-direction: column;
}


.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}


.lista_questoes_user {
    height: 80%;
    overflow: auto;
    clear: both;
    overflow-y: scroll;
}


.lista_questoes_user ul {
    list-style: none;
    margin: 0 50px;
    padding: 0;

}

.lista_questoes_user ul li {
    margin-bottom: 5px;
}

.lista_questoes_user button {
    height: 60px;
    font-size: large;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #95ab63;
}


.question_user:hover {
    background-color: #c1d19b;
}


/********************* Login form *************************************/
.login_content {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 80px 35% 0 35%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.login_content .control {
    margin-top: 20px;
}

.login_content .control button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #95ab63;
}

.login_content .control button:hover {
    background-color: #b2be97;
}






















/********************* Profile ****************************************/
.profile_content {
    font-size: large;
}

.profile_content .profile_text {
    margin-left: 5%;
    margin-top: 5%;
}

.profile_content p {
    width: 90%;
    text-align: justify;
    margin-top: 40px;
}

.profile_content h4 {
    margin-top: 20px;
}

.profile_content .list {
    margin-top: 20px;
    margin-left: 5%;
}

/********************* Sign up ****************************************/
.signup_content {
    text-align: center;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 80px 35% 0 35%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.signup_content .control {
    margin-top: 20px;
}

.signup_content .form_title {
    margin-bottom: 30px;
}

.signup_content .control button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #95ab63;
}

.signup_content .control button:hover {
    background-color: #b2be97;
}

.signup_content .control input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}





















/********************* Editar perfil **********************************/
.editar_perfil_conteudo{
    width: 50%;
    margin: 80px 25% 0 25%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.editar_perfil_conteudo form{
    display: flex;
    flex-direction: column;
}
.editar_perfil_conteudo form h2{
    text-align: center;
    margin-bottom: 35px;
}

.editar_perfil_conteudo form label {
    font-weight: bold;
}

.editar_perfil_conteudo form textarea,
.editar_perfil_conteudo form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
}

.editar_perfil_conteudo form textarea {
    max-width: 100%;
    max-height: 200px;
}

.editar_perfil_conteudo form button[type="submit"] {
    background-color: #95ab63;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 40px;
}

.editar_perfil_conteudo form button[type="submit"]:hover {
    background-color: #b2be97;
}

.editar_perfil_conteudo form button[type="submit"]:active{
    background-color: #95ab63;
}


/***********************************detalhe_questao****************************************************************/

.detalhe_questao_content {
    width: 50%;
    margin: 60px 25% 0 25%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.detalhe_questao_form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.detalhe_questao_form textarea {
    max-width: 100%;
    max-height: 180px;
}

.info_questao p{
    text-align: justify;
    font-size: 16px;
    height: 80px;
    margin-top: 20px;
      overflow: auto;
    clear: both;
    overflow-y: scroll;
}


.info_questao button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #95ab63;
    margin-top: 20px;
    margin-right: 5px;
}

.info_questao button:hover {
    background-color: #c1d19b;
}

.lista_resposta {
    margin-top: 20px;

}

.lista_resposta label {
    font-weight: bold;
}

.lista_resposta ul {
    margin-top: 10px;
    height: 100px;
      overflow: auto;
    clear: both;
    overflow-y: scroll;
}

.lista_resposta li {
    /*font-weight: bold;*/
    color: white;
    list-style: none;
    background-color: #95ab63;
    border-radius: 5px;
    padding: 10px;

}


.detalhe_questao_form button{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #95ab63;
    margin-top: 20px;
    margin-right: 5px;
}

.detalhe_questao_form button:hover{
    background-color: #b2be97;
}
