{% extends 'index.html' %}

{% block right_content %}

    <div class="about_container">
        <div class="clarify_logo">
            <img src="../static/images/clarify_logo.png" alt="logo_image">
        </div>
        <div class="about_text_container">
            <p class="about_text">Bem-vindo ao Clarify, o fórum de programação que está aqui para ajudá-lo a esclarecer suas dúvidas e fornecer
                soluções para seus desafios de programação. Somos uma comunidade apaixonada por tecnologia, com o objetivo de
                fornecer um espaço onde desenvolvedores e entusiastas possam compartilhar conhecimentos, discutir ideias e
                encontrar soluções inovadoras.
                Em Clarify, acreditamos que o aprendizado é uma jornada constante e que a colaboração é a chave para o sucesso.
                Nossa equipe de moderadores e membros experientes está sempre disponível para ajudá-lo, independentemente do
                seu nível de experiência em programação.
                Nós nos esforçamos para criar um ambiente acolhedor e inclusivo, onde todos possam se sentir à vontade para
                compartilhar seus conhecimentos e aprender com os outros. Estamos comprometidos em fornecer o melhor suporte
                possível e ajudá-lo a alcançar seus objetivos de programação.
                Junte-se a nossa comunidade hoje e comece a explorar tudo o que o Clarify tem a oferecer!
            </p>
        </div>
    </div>



{% endblock %}