{% extends 'index.html' %}

{% block search_bar %}
{% endblock %}

{% block conteudo %}

    <div class="criarquestao_content">

        <h2>Criar Questão</h2>
        <form class="criarquestao_form" action="{% url 'forum:criar_questao' %}" method="post">
            {% csrf_token %}

            <input class="titulo" type="text" name="questaotitulo" placeholder="Título"/><br>

            <textarea placeholder="Descrição" id="description" name="questaodescricao" rows="15" cols="50"></textarea><br>


            <input placeholder="Etiqueta" type="text" id="tags" name="tags" required /><br>

            <button type="submit">Criar Questão</button>
        </form>

    </div>

{% endblock %}