{% extends 'index.html' %}

{% block right_content %}

{% if error_message %}
   {{ error_message }}
{% endif %}

    <div class="criarquestao_content">

        <h2>Create a new post</h2>
        <form class="criarquestao_form" action="{% url 'forum:criar_questao' %}" method="post">
            {% csrf_token %}
            <label for="description">Description:</label><br>
            <textarea id="description" name="textoquestao" rows="5" cols="50"></textarea><br>

            <label for="tags">Tags:</label><br>
            <input type="text" id="tags" name="tags" required /><br>

            <button type="submit">Criar questão</button>
        </form>

    </div>


{% endblock %}