{% extends 'index.html' %}

{% block conteudo %}

    <div class="detalhe_questao_content">
        <div class="info_questao">

            <h1>{{ questao.questao_titulo }} ({{ questao.numero_likes }} likes)</h1>
            <p>
                {{ questao.questao_descricao }}
            </p>
            <form action="{% url 'forum:like_questao' questao.id %}">
                <button type="submit" class="like">
                {% if like %}
                    Liked {# icon com coracao premchido #}
                {% else %}
                    Like {# icon com coracao nao!! premchido #}
                    <!-- icon like-->
                    {# icon coração cheio quando deu like, vazio quando não deu #}
                {% endif %}
                </button>
                {% if request.user.is_authenticated and request.user == questao.user or request.user.is_superuser %}
                    <button type="submit" class="apagar" formaction="{% url 'forum:apagar_questao' questao.id %}" class="apagar_questao">
                        Apagar
                    </button>
                {% endif %}
            </form>


        </div>


        <div class="lista_resposta">
            <label for="">Respostas</label>
            {% if list %}
                <ul>
                    {% for resposta in list %}
                        <li class="question">
                            {{ resposta.user.username }}: {{ resposta.resposta_texto }}
                        </li>
                    {% endfor %}
                </ul>
            {% else  %}
                Não há repostas!!!
            {% endif %}

        </div>

        <form class="detalhe_questao_form" action="{% url 'forum:detalhe_questao' questao.id %}" method="post">
            {% csrf_token %}



            <textarea placeholder="Resposta" class="text_area" type="text" name="resposta_texto" rows="5" cols="50" required></textarea><br>

            <button type="submit">Submeter Resposta</button>
        </form>

    </div>

{% endblock %}