{% extends 'index.html' %}

{% block search_bar %}

{% endblock %}

{% block conteudo %}
    <div class="editar_perfil_conteudo">
        <form action="{% url 'forum:editar_perfil' %}" method="post">
            {% csrf_token %}
            <h2>Editar Perfil</h2>
            <label for="firstname">First Name:</label>
            <input type="text" name="firstname" value="{{ request.user.first_name }}" required/>
            <label for="lastname">Last Name:</label>
            <input type="text" name="lastname" value="{{ request.user.last_name }}" required />
            <label for="username">User Name:</label>
            <input type="text" name="username" value="{{ request.user.username }}" required />
            <label for="email">E-mail:</label>
            <input type="email" name="email" value="{{ request.user.email }}" required/>
            <label for="descricao">Descricao:</label>
            <textarea name="descricao" rows="3" cols="50" required >{{ request.user.utilizador.descricao }}</textarea>
            <button type="submit">Editar Perfil</button>
        </form>
    </div>
{% endblock %}