{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />

<!DOCTYPE html>
<html>
  <head>
      <title>Clarify</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="">
            <!-- clicando vai para a home/profile -->
            <img src="{% static 'images/clarify_logo.png' %}" alt="Logo">
        </a>
        
        <input type="text" placeholder="Search">
        <div class="button">
            <!-- <button>Clarify</button>
        <button>Search Bar Here</button> -->
        <button>About</button>
        <button>Login</button>
        <button>Sign up</button>
        </div>
        
      </nav>
    </header>
    <main>
        <aside class="profile_menu">
            <div class="profile_picture">
              <img src="{% static 'images/profile.jpg' %}" alt="Profile Picture">
              
            </div>
            <h4>quantas questões tem</h4>
            <ul class="button_list">
              <li>
                <a href="#" class="button">Editar Perfil</a>
              </li>
              <li>
                <a href="#" class="button">Questões</a>
              </li>
              <li>
                <a href="#" class="button">Criar Questão</a>
              </li>
            </ul>
          </aside>
          <section>

{#                <h2>Create a new post</h2>#}
{#                <form>#}
{#                    <label for="description">Description:</label><br>#}
{#                    <textarea id="description" name="description" rows="5" cols="50"></textarea><br>#}
{#                  #}
{#                    <label for="tags">Tags:</label><br>#}
{#                    <input type="text" id="tags" name="tags"><br>#}
{#                  #}
{#                    <button type="submit">Criar questão</button>#}
{#                  </form>#}
{#                  #}
                <div class="index_content">
                    <div class="left">
                        <h3>"Connecting coders, clarifying code."</h3>
                        <p>Clarify is a forum for all things related to coding. With a community of passionate coders, you can find resources on a wide range of programming languages and frameworks. Collaborate, ask questions, and share your knowledge with other developers. Join Clarify today and explore the exciting world of coding!</p>
                    </div>
                    <div class="right">
                        <img src="{% static 'images/model.png' %}" alt="">
                    </div>
                    <div class="list">
                        {% if list %}
                            <ul>
                                {% for questao in list %}
                                    <li class="question">{{ questao.questao_texto }}</li>
                                {% endfor %}
                            </ul>
                        {% else  %}
                            A lista está vazia
                        {% endif %}
                    </div>
                </div>


            
          </section>
      <!-- Your website content here -->
    </main>
    <footer>
        <div class="footer">
            <p>1980 Dahlia St Denver, CO 80220, EUA</p>
            <p>39.747371, -104.931689</p>
            <div class="social-icons">
              <a href="https://www.facebook.com/" ><i class="fab fa-facebook"></i></a>
              <a href="https://www.youtube.com/" ><i class="fab fa-youtube"></i></a>
              <a href="https://twitter.com/" ><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/" ><i class="fab fa-linkedin"></i></a>
            </div>
            
          </div>
      <!-- Your website footer here -->
    </footer>
  </body>
</html>
