{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-jfISJnw8Ien6Qo0NQeH5hCvjG0BpfFmL/vMEf3Mf5jWOKry5+3PHF14XegF/EWkATZzLKLmNXPihkZl8doyPQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>
        {% block title %}
            Clarify
        {% endblock %}
    </title>
</head>
<body>

{% block header %}
    <header>
        <nav class="nav-home">
            <a href="#"><img src="../static/images/clarify_logo.png" alt="clarify_logo"/></a>
        </nav>
        {% block nav-searchbar %}
            <nav class="nav-searchbar">
                <input type="text" placeholder="Search..." />
                <input type="submit" value="🔍" />
            </nav>
        {% endblock %}
        <nav class="nav-menu">
            <a href="#"><button>Sign-up</button></a>
            <a href="#"><button>Login</button></a>
            {% if request.user.is_authenticated %}
            <a href="#"><button>Logout</button></a>
            {% else %}
            <a href="#"><button>Contact</button></a>
            <a href="#"><button>About</button></a>
            {% endif %}
        </nav>
    </header>
{% endblock %}

{% block container %}
    <div class="container">
        {% if request.user.is_authenticated %}
            <div class="nav-perfil">
                conteúdo do nav-perfil aqui
            </div>
        {% endif %}
        <div class="main {% if not request.user.is_authenticated %}full-width{% endif %}">
            conteúdo do main aqui
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <p>1980 Dahlia St Denver, CO 80220, EUA</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
        </div>
        <p>39.747371, -104.931689</p>
    </footer>
{% endblock %}

</body>
</html>