{% extends 'index.html' %}

{% block right_content %}

    <div class="lista_questoes_list">
        {% if list %}
            <ul>
                {% for questao in list %}
                    <li class="lista_questoes_list_question">
                        <button href="{% url 'forum:detalhe_questao' questao.id %}" style="color: black">
                            {{ questao.questao_texto }}</button></li>
                {% endfor %}
            </ul>
        {% else  %}
            A lista está vazia
        {% endif %}
    </div>

{% endblock %}