{% extends 'index.html' %}

{% block conteudo %}
    <div class="lista_questoes_container">
        <div class="title_container"><h2>Resultado Pesquisa</h2></div>
        <div class="lista_questoes_user">
            {% if list %}
                <ul>
                    {% for questao in list %}
                        <li class="question_user">
                            <form><button type="submit" formaction="{% url 'forum:detalhe_questao' questao.id %}">
                                {{ questao.questao_titulo }}</button></form>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                A lista está vazia
            {% endif %}
        </div>
    </div>

{% endblock %}